@font-face {
  font-family: "Cera Pro"; /*Can be any text*/
  src: local("Cera Pro Black"),
    url("../public/fonts/Cera\ Pro\ Black.otf") format("opentype");
}

* {
  font-family: "Cera Pro", Arial, sans-serif;
  font-style: normal;
  text-transform: none;
}
